.singleBook {
	margin: 1.6vh auto;
	padding: 1.6vh 1vw;
	width: 80vw;
	min-height: 3.7vh;
	max-height: 10vh;
	position: relative;
	background-color: var(--main-bg-color);
	border-radius: 9px;
	box-shadow: 2.2px 2px 5px black;
	max-width: 80vw;
	text-align: left;
	line-height: 3.7vh;
}

.removeBtn {
	position: absolute;
	width: 1vw;
	height: 1.5vw;
	right: 1.3vw;
	top: 0.75vw;
}

.removeBtn:hover {
	opacity: 0.65;
	cursor: pointer;
}

.checkRead {
	position: absolute;
	right: 4vw;
}

.checkReadLabel {
	position: absolute;
	right: 6vw;
}
