:root {
	--main-bg-color: hsl(62, 80%, 56%);
	--main-element-color: hsl(62, 80%, 25%);
}

.containerBtn {
	display: flex;
	justify-content: center;
}

#addBtn {
	font-family: "Goudy Bookletter 1911", serif;
	margin: 0vw 2.5vw;
	border: none;
	padding: 0.4vw 1.6vw;
	color: black;
	background-color: var(--main-bg-color);
	font-size: 25px;
	border-radius: 6px;
	cursor: pointer;
}

#addBtn:hover {
	background-color: var(--main-element-color);
	color: var(--main-bg-color);
}
